<!DOCTYPE html>
<html lang="en">
    <head>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
       
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Dancing+Script&family=Lobster+Two&family=Raleway:wght@100&family=Teko:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
        <link rel="stylesheet" href="../public/fetchStyles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/CustomEase.min.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <script src="../public/fetchGsap.js"></script>
        
    </head>
<body style="background-color: gray;  max-width: 100%;
overflow-x: hidden;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white" style="background-color: #B1A296;">
       
        <a class="navbar-brand" href="#" style="padding-left: 10px;"><i class="bi bi-vector-pen"></i> InkTrail</a>
        <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarSupportedContent">          
          <ul class="navbar-nav mr-auto">
              
          </ul>   
        </div>
      </nav>

<div class="Heading"><%= heading %></div>




<div class="MainManga">
  
    <!-- Use flex-grow-1 to make the image cover the entire height of the card -->
  <div class="card flex-row bg-dark"><img class="card-img-left example-card-img-responsive" src="<%= cover %>"/>
    <div class="card-body">
      <h4 class="card-title h4 h3-sm text-white"><u><%= title_en %></u></h4>
      <p class="card-text text-white">
        <i class="bi bi-book-half"></i>  Titles: <br>
        🇯🇵 <%= title_jp %>, <br> 🇺🇸 <%= title_en %> <br><br>
        
        <i class="bi bi-heart-fill"></i> Score: <%= score %><br><br>
        <i class="bi bi-pen-fill"></i> Author: <%= author %><br><br>
        <i class="bi bi-calendar"></i>  Publishing Status: <%= status %><br><br>
        <i class="bi bi-bookmark"></i> Tags: <%= tags%><br><br>
        <i class="bi bi-clock-history"></i> Status: <%= air_stat %>
        <!-- Add Other Parts of Info Object -->
        <!-- Link to home page -->
      </p>
    </div>
  </div>
</div>

<div class="desc">
<div class=" card bg-dark text-white">
 
  <div class="card-body">
    <h4 class="card-title "><i class="bi bi-journal-bookmark-fill"> </i>Description</h4> <hr>
    <p class="card-text">
      <%= desc %>
    </p>
    <a href="<%= mal_url %>" target="_blank" class="btn btn-secondary">MyAnimeList Link</a>
  </div>
</div>
</div>

<hr>

<div class="alert bg-dark discoverMore text-white">
Discover More
</div>

<div class="discover">

<div class="manga1">
  <img src="<%= manga1.poster %>">
</div>
<div class="manga2">
  <img src="<%= manga2.poster %>">
</div>
<div class="manga3">
  <img src="<%= manga3.poster %>">
</div>
<div class="manga4">
  <img src="<%= manga4.poster %>">
</div>
<div class="manga5">
  <img src="<%= manga5.poster %>">
</div>

</div>
    
<!-- create new endpoint for manga search according to id and anchor cards to endpoint -->
</body>
</html>